@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

body .conteudo-blog h2 {
  font-size: var(--text-2xl); /* 1.5rem (24px) */ 
  line-height: var(--text-2xl--line-height); /* calc(2 / 1.5) */
}

pre {
  padding: 0em !important;
  /* border-radius: 0.5rem; */
  /* margin: 1em 0; */
}
